<_Main>
	<Main>
		<Water>
			<RemoveUnderwater Value="0" Type="0" Reboot="1" Info="" />
			<ForceReflections Value="1" Type="0" Reboot="1" Info="" />
		</Water>
		<Precipitations>
			<RemovePrecipitations Value="0" Type="0" Reboot="1" Info="" />
		</Precipitations>
		<Misc>
			<ForceMSAA Value="0" Type="0" Reboot="0" Info="" />
			<ScreenshotKey Value="87" Type="1" Reboot="0" Info="" />
			<ReplaceIntro Value="0" Type="0" Reboot="1" Info="" />
		</Misc>
	 </Main>
	 <FrameRate>
		<SmartControl>
			<SmartControl Value="0" Type="0" Reboot="0" Info="" />
			<SmartControlFPS Value="60" Type="1" Reboot="0" Info="" />
			<FlowControl Value="-0.5" Type="2" Reboot="0" Info="" />
		</SmartControl>
		<Stuttering>
			<SmartBackgroundProcess Value="0" Type="0" Reboot="1" Info="" />
			<BackgroundThreadPriority Value="5" Type="1" Reboot="0" Info="" />
		</Stuttering>
	 </FrameRate>
	 <CameraMode>
		<Main>
			<Enabled Value="0" Type="0" Reboot="1" Info="" />
			<FoV Value="90.0" Type="2" Reboot="0" Info="" />
			<Crosshair Value="0" Type="1" Reboot="0" Info="" />
			<ChasingFirst Value="0" Type="0" Reboot="0" Info="" />
			<ChasingThird Value="0" Type="0" Reboot="0" Info="" />
		</Main>
		<Positioning>
			<OffsetX Value="0.0" Type="2" Reboot="0" Info="" />
			<OffsetY Value="15.0" Type="2" Reboot="0" Info="" />
			<OffsetZ Value="5.0" Type="2" Reboot="0" Info="" />
			<DialogOffsetX Value="-50.0" Type="2" Reboot="0" Info="" />
			<DialogOffsetY Value="-50.0" Type="2" Reboot="0" Info="" />
			<DialogOffsetZ Value="10.0" Type="2" Reboot="0" Info="" />
			<AimingOffsetX Value="-1.0" Type="2" Reboot="0" Info="" />
			<AimingOffsetY Value="15.0" Type="2" Reboot="0" Info="" />
			<AimingOffsetZ Value="4.5" Type="2" Reboot="0" Info="" />
		</Positioning>
	 </CameraMode>
	 <SleepingMode>
		<Main>
			<Enabled Value="0" Type="0" Reboot="1" Info="" />
			<Mode Value="0" Type="1" Reboot="0" Info="" />
		</Main>
	 </SleepingMode>
	 <WeatherMode>
		<Main>
			<Enabled Value="0" Type="0" Reboot="1" Info="" />
		</Main>
		<General>
			<CoeffNightR Value="0.60" Type="2" Reboot="0" Info="" />
			<CoeffNightG Value="0.60" Type="2" Reboot="0" Info="" />
			<CoeffNightB Value="0.50" Type="2" Reboot="0" Info="" />
			<CoeffFogR Value="0.90" Type="2" Reboot="0" Info="" />
			<CoeffFogG Value="0.88" Type="2" Reboot="0" Info="" />
			<CoeffFogB Value="0.86" Type="2" Reboot="0" Info="" />
			<CoeffSunR Value="1.00" Type="2" Reboot="0" Info="" />
			<CoeffSunG Value="0.90" Type="2" Reboot="0" Info="" />
			<CoeffSunB Value="0.80" Type="2" Reboot="0" Info="" />
		</General>
	 </WeatherMode>
	 <Menu>
		<Style>
			<TextFont Value="Calibri" Type="3" Reboot="1" Info="" />
			<TextSize Value="22" Type="1" Reboot="1" Info="" />
			<TextFontStatus Value="Consolas" Type="3" Reboot="1" Info="" />
			<TextSizeStatus Value="12" Type="1" Reboot="1" Info="" />
			<TextColorNormal Value="240,200,80" Type="3" Reboot="1" Info="" />
			<TextShadowColorNormal Value="50,50,50" Type="3" Reboot="1" Info="" />
			<TextColorSelected Value="255,255,255" Type="3" Reboot="1" Info="" />
			<TextShadowColorSelected Value="50,50,50" Type="3" Reboot="1" Info="" />
			<TextColorEditing Value="255,100,50" Type="3" Reboot="1" Info="" />
			<TextShadowColorEditing Value="50,50,50" Type="3" Reboot="1" Info="" />
			<TextColorEnabled Value="100,170,90" Type="3" Reboot="1" Info="" />
			<TextShadowColorEnabled Value="50,50,50" Type="3" Reboot="1" Info="" />
			<PositionX Value="60" Type="1" Reboot="1" Info="" />
			<PositionY Value="120" Type="1" Reboot="1" Info="" />
			<TitleColumnSize Value="850" Type="1" Reboot="1" Info="" />
			<MainItemColumnSize Value="100" Type="1" Reboot="1" Info="" />
			<ItemColumnSize Value="300" Type="1" Reboot="1" Info="" />
			<RowSpace Value="0" Type="1" Reboot="1" Info="" />
			<RowsPerPage Value="30" Type="1" Reboot="0" Info="" />
		</Style>
		<Keys>
			<KeyEnable Value="24" Type="1" Reboot="0" Info="" />
			<KeyUp Value="200" Type="1" Reboot="0" Info="" />
			<KeyDown Value="208" Type="1" Reboot="0" Info="" />
			<KeyLeft Value="203" Type="1" Reboot="0" Info="" />
			<KeyRight Value="205" Type="1" Reboot="0" Info="" />
			<KeyPageUp Value="201" Type="1" Reboot="0" Info="" />
			<KeyPageDown Value="209" Type="1" Reboot="0" Info="" />
			<KeyAdd Value="78" Type="1" Reboot="0" Info="" />
			<KeySubtract Value="74" Type="1" Reboot="0" Info="" />
			<KeySave Value="28" Type="1" Reboot="0" Info="" />
			<KeyEditing Value="156" Type="1" Reboot="0" Info="" />
		</Keys>
	 </Menu>
	 <LowHFSound>
		<Main>
			<HealthEnabled Value="0" Type="0" Reboot="0" Info="" />
			<FatigueEnabled Value="1" Type="0" Reboot="0" Info="" />
			<HealthCoeff Value="0.5" Type="2" Reboot="0" Info="" />
			<FatigueCoeff Value="0.5" Type="2" Reboot="0" Info="" />
		</Main>
	 </LowHFSound>
	 <FlyCam>
		<Main>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<ScrollMultiplier Value="2.0" Type="2" Reboot="0" Info="" />
			<KeyAdd Value="78" Type="1" Reboot="0" Info="" />
			<KeySubtract Value="74" Type="1" Reboot="0" Info="" />
			<StepValue Value="1.0" Type="2" Reboot="0" Info="" />
		</Main>
	 </FlyCam>
	 <Develop>
		<Main>
			<CompileShaders Value="2" Type="1" Reboot="0" Info="" />
			<CompileEffects Value="2" Type="1" Reboot="0" Info="" />
			<DebugMode Value="1" Type="1" Reboot="0" Info="" />
			<TraceShaders Value="25" Type="1" Reboot="0" Info="" />
		</Main>
	 </Develop>
</_Main>
<_Shaders>
	<Specular>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Exterior>
			<Strength Value="0.6" Type="2" Reboot="0" Info="" />
			<BlurMultiplier Value="1" Type="2" Reboot="0" Info="" />
			<Glossiness Value="15" Type="1" Reboot="0" Info="" />
			<DistanceFade Value="5000" Type="1" Reboot="0" Info="" />
		</Exterior>
		<Rain>
			<Strength Value="1.5" Type="2" Reboot="0" Info="" />
			<BlurMultiplier Value="3" Type="2" Reboot="0" Info="" />
			<Glossiness Value="5" Type="1" Reboot="0" Info="" />
			<DistanceFade Value="5000" Type="1" Reboot="0" Info="" />
		</Rain>
	</Specular>
	<AmbientOcclusion>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Exteriors>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Samples Value="20" Type="1" Reboot="0" Info="" />
			<StrengthMultiplier Value="1" Type="2" Reboot="0" Info="" />
			<ClampStrength Value="-0.5" Type="2" Reboot="0" Info="" />
			<AngleBias Value="0.1" Type="2" Reboot="0" Info="" />
			<Range Value="150" Type="2" Reboot="0" Info="" />
			<LumThreshold Value="0.2" Type="2" Reboot="0" Info="" />
			<BlurDropThreshold Value="3" Type="2" Reboot="0" Info="" />
			<BlurRadiusMultiplier Value="1" Type="2" Reboot="0" Info="" />
		</Exteriors>
		<Interiors>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Samples Value="20" Type="1" Reboot="0" Info="" />
			<StrengthMultiplier Value="1" Type="2" Reboot="0" Info="" />
			<ClampStrength Value="-0.5" Type="2" Reboot="0" Info="" />
			<AngleBias Value="0.1" Type="2" Reboot="0" Info="" />
			<Range Value="200" Type="2" Reboot="0" Info="" />
			<LumThreshold Value="0.2" Type="2" Reboot="0" Info="" />
			<BlurDropThreshold Value="3" Type="2" Reboot="0" Info="" />
			<BlurRadiusMultiplier Value="1" Type="2" Reboot="0" Info="" />
		</Interiors>
	</AmbientOcclusion>
	<Blood>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
	</Blood>
	<BloodLens>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Chance Value="10.0" Type="2" Reboot="0" Info="" />
			<ColorR Value="0.92" Type="2" Reboot="0" Info="" />
			<ColorG Value="0.16" Type="2" Reboot="0" Info="" />
			<ColorB Value="0.16" Type="2" Reboot="0" Info="" />
			<Intensity Value="0.8" Type="2" Reboot="0" Info="" />
			<Time Value="900.0" Type="2" Reboot="0" Info="" />
		</Main>
	</BloodLens>
	<Bloom>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Exteriors>
			<BloomIntensity Value="1.4" Type="2" Reboot="0" Info="" />
			<OriginalIntensity Value="1.0" Type="2" Reboot="0" Info="" />
			<BloomSaturation Value="1.2" Type="2" Reboot="0" Info="" />
			<OriginalSaturation Value="1.0" Type="2" Reboot="0" Info="" />
			<Luminance Value="0.06" Type="2" Reboot="0" Info="" />
			<MiddleGray Value="0.18" Type="2" Reboot="0" Info="" />
			<WhiteCutOff Value="0.8" Type="2" Reboot="0" Info="" />
		</Exteriors>
		<Interiors>
			<BloomIntensity Value="1.4" Type="2" Reboot="0" Info="" />
			<OriginalIntensity Value="1.0" Type="2" Reboot="0" Info="" />
			<BloomSaturation Value="1.2" Type="2" Reboot="0" Info="" />
			<OriginalSaturation Value="1.0" Type="2" Reboot="0" Info="" />
			<Luminance Value="0.06" Type="2" Reboot="0" Info="" />
			<MiddleGray Value="0.18" Type="2" Reboot="0" Info="" />
			<WhiteCutOff Value="0.8" Type="2" Reboot="0" Info="" />
		</Interiors>
	</Bloom>
	<Cinema>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Mode Value="0" Type="2" Reboot="0" Info="" />
			<AspectRatio Value="1.20" Type="2" Reboot="0" Info="" />
			<VignetteRadius Value="3.0" Type="2" Reboot="0" Info="" />
			<VignetteDarkness Value="0.55" Type="2" Reboot="0" Info="" />
		</Main>
	</Cinema>
	<Coloring>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Default>
			<Strength Value="0.5" Type="2" Reboot="0" Info="" />
			<BaseGamma Value="1.6" Type="2" Reboot="0" Info="" />
			<Fade Value="0.0" Type="2" Reboot="0" Info="" />
			<Contrast Value="0.8" Type="2" Reboot="0" Info="" />
			<Saturation Value="-0.1" Type="2" Reboot="0" Info="" />
			<Bleach Value="0.1" Type="2" Reboot="0" Info="" />
			<BleachLuma Value="0.2" Type="2" Reboot="0" Info="" />
			<ColorCurve Value="1.2" Type="2" Reboot="0" Info="" />
			<ColorCurveR Value="0.9" Type="2" Reboot="0" Info="" />
			<ColorCurveG Value="1.0" Type="2" Reboot="0" Info="" />
			<ColorCurveB Value="1.0" Type="2" Reboot="0" Info="" />
			<EffectGamma Value="0.9" Type="2" Reboot="0" Info="" />
			<EffectGammaR Value="1.0" Type="2" Reboot="0" Info="" />
			<EffectGammaG Value="1.0" Type="2" Reboot="0" Info="" />
			<EffectGammaB Value="1.0" Type="2" Reboot="0" Info="" />
			<Linearization Value="1.1" Type="2" Reboot="0" Info="" />
		</Default>
	</Coloring>
	<DepthOfField>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<FirstPersonView>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Mode Value="0" Type="1" Reboot="0" Info="" />
			<DistantBlur Value="0" Type="0" Reboot="0" Info="" />
			<DistantBlurStartRange Value="900.0" Type="2" Reboot="0" Info="" />
			<DistantBlurEndRange Value="1000.0" Type="2" Reboot="0" Info="" />
			<BaseBlurRadius Value="1.0" Type="2" Reboot="0" Info="" />
			<BlurFallOff Value="2.0" Type="2" Reboot="0" Info="" />
			<Radius Value="8.0" Type="2" Reboot="0" Info="" />
			<DiameterRange Value="0.009" Type="2" Reboot="0" Info="" />
			<NearBlurCutOff Value="0.8" Type="2" Reboot="0" Info="" />
		</FirstPersonView>
		<ThirdPersonView>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Mode Value="0" Type="1" Reboot="0" Info="" />
			<DistantBlur Value="1" Type="0" Reboot="0" Info="" />
			<DistantBlurStartRange Value="900.0" Type="2" Reboot="0" Info="" />
			<DistantBlurEndRange Value="1000.0" Type="2" Reboot="0" Info="" />
			<BaseBlurRadius Value="0.25" Type="2" Reboot="0" Info="" />
			<BlurFallOff Value="2.5" Type="2" Reboot="0" Info="" />
			<Radius Value="3.0" Type="2" Reboot="0" Info="" />
			<DiameterRange Value="0.009" Type="2" Reboot="0" Info="" />
			<NearBlurCutOff Value="0.8" Type="2" Reboot="0" Info="" />
		</ThirdPersonView>
		<VanityView>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Mode Value="0" Type="1" Reboot="0" Info="" />
			<DistantBlur Value="0" Type="0" Reboot="0" Info="" />
			<DistantBlurStartRange Value="900.0" Type="2" Reboot="0" Info="" />
			<DistantBlurEndRange Value="1000.0" Type="2" Reboot="0" Info="" />
			<BaseBlurRadius Value="1.0" Type="2" Reboot="0" Info="" />
			<BlurFallOff Value="2.0" Type="2" Reboot="0" Info="" />
			<Radius Value="8.0" Type="2" Reboot="0" Info="" />
			<DiameterRange Value="0.009" Type="2" Reboot="0" Info="" />
			<NearBlurCutOff Value="0.8" Type="2" Reboot="0" Info="" />
		</VanityView>
	</DepthOfField>
	<ExtraEffects>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>	
	</ExtraEffects>
	<ExtraShaders>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>	
	</ExtraShaders>
	<GodRays>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<TimeEnabled Value="0" Type="0" Reboot="0" Info="" />
			<SunGlareEnabled Value="0" Type="0" Reboot="0" Info="" />
			<LightShaftPasses Value="45" Type="1" Reboot="0" Info="" />
			<RayIntensity Value="3.2" Type="2" Reboot="0" Info="" />
			<RayLength Value="0.98" Type="2" Reboot="0" Info="" />
			<RayDensity Value="0.6" Type="2" Reboot="0" Info="" />
			<RayVisibility Value="0.3" Type="2" Reboot="0" Info="" />
			<Luminance Value="1.2" Type="2" Reboot="0" Info="" />
			<GlobalMultiplier Value="3.0" Type="2" Reboot="0" Info="" />
			<RayR Value="0.38" Type="2" Reboot="0" Info="" />
			<RayG Value="0.54" Type="2" Reboot="0" Info="" />
			<RayB Value="0.44" Type="2" Reboot="0" Info="" />
			<Saturate Value="0.4" Type="2" Reboot="0" Info="" />
		</Main>
	</GodRays>
	<HDR>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<ToneMapping Value="1.0" Type="2" Reboot="0" Info="" />
			<ToneMappingBlur Value="0.0" Type="2" Reboot="0" Info="" />
			<ToneMappingColor Value="1.2" Type="2" Reboot="0" Info="" />
			<Linearization Value="2.2" Type="2" Reboot="0" Info="" />
		</Main>
	</HDR>
	<LowHF>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<HealthLimit Value="0.5" Type="2" Reboot="0" Info="" />
			<FatigueLimit Value="0.25" Type="2" Reboot="0" Info="" />
			<LumaMultiplier Value="1.0" Type="2" Reboot="0" Info="" />
			<BlurMultiplier Value="0.2" Type="2" Reboot="0" Info="" />
			<VignetteMultiplier Value="1.0" Type="2" Reboot="0" Info="" />
			<DarknessMultiplier Value="1.0" Type="2" Reboot="0" Info="" />
		</Main>
	</LowHF>
	<MotionBlur>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<FirstPersonView>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<GaussianWeight Value="6.0" Type="2" Reboot="0" Info="" />
			<BlurScale Value="4.0" Type="2" Reboot="0" Info="" />
			<BlurOffsetMax Value="24.0" Type="2" Reboot="0" Info="" />
			<BlurCutOff Value="15" Type="2" Reboot="0" Info="" />
		</FirstPersonView>
		<ThirdPersonView>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
			<GaussianWeight Value="6.0" Type="2" Reboot="0" Info="" />
			<BlurScale Value="4.0" Type="2" Reboot="0" Info="" />
			<BlurOffsetMax Value="24.0" Type="2" Reboot="0" Info="" />
			<BlurCutOff Value="15" Type="2" Reboot="0" Info="" />
		</ThirdPersonView>
	</MotionBlur>
	<POM>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<HeightMapScale Value="0.55" Type="2" Reboot="0" Info="" />
			<MinSamples Value="8" Type="1" Reboot="0" Info="" />
			<MaxSamples Value="32" Type="1" Reboot="0" Info="" />
		</Main>
	</POM>
	<Precipitations>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Rain>
			<DepthStep Value="8.0" Type="2" Reboot="0" Info="" />
			<Speed Value="3.0" Type="2" Reboot="0" Info="" />
		</Rain>
		<Snow>
			<DepthStep Value="2.5" Type="2" Reboot="0" Info="" />
			<Flakes Value="0.5" Type="2" Reboot="0" Info="" />
			<Speed Value="1.4" Type="2" Reboot="0" Info="" />
		</Snow>
	</Precipitations>
	<ShadowsExteriors>
		<Status>
			<PostProcess Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<Darkness Value="0.5" Type="2" Reboot="0" Info="" />
			<NightMinDarkness Value="0.3" Type="2" Reboot="0" Info="" />
			<Quality Value="2" Type="1" Reboot="0" Info="" />
			<ShadowMode Value="2" Type="1" Reboot="0" Info="" />
			<BlurShadowMaps Value="1" Type="1" Reboot="0" Info="" />
			<ShadowsRadius Value="8000" Type="2" Reboot="0" Info="" />
			<ShadowMapResolution Value="1024" Type="2" Reboot="0" Info="" />
			<ShadowMapFarPlane Value="32768" Type="2" Reboot="0" Info="" />
		</Main>
		<ScreenSpace>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<BlurRadius Value="1" Type="2" Reboot="0" Info="" />
			<RenderDistance Value="8000" Type="1" Reboot="0" Info="" />
		</ScreenSpace>
		<Near>
			<AlphaEnabled Value="1" Type="0" Reboot="0" Info="" />
			<Activators Value="0" Type="0" Reboot="0" Info="" />
			<Actors Value="1" Type="0" Reboot="0" Info="" />
			<Apparatus Value="0" Type="0" Reboot="0" Info="" />
			<Books Value="0" Type="0" Reboot="0" Info="" />
			<Containers Value="1" Type="0" Reboot="0" Info="" />
			<Doors Value="1" Type="0" Reboot="0" Info="" />
			<Furniture Value="1" Type="0" Reboot="0" Info="" />
			<Misc Value="1" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<Terrain Value="1" Type="0" Reboot="0" Info="" />
			<Trees Value="1" Type="0" Reboot="0" Info="" />
			<Lod Value="0" Type="0" Reboot="0" Info="" />
			<MinRadius Value="10.0" Type="2" Reboot="0" Info="" />
		</Near>
		<Middle>
			<AlphaEnabled Value="1" Type="0" Reboot="0" Info="" />
			<Activators Value="0" Type="0" Reboot="0" Info="" />
			<Actors Value="1" Type="0" Reboot="0" Info="" />
			<Apparatus Value="0" Type="0" Reboot="0" Info="" />
			<Books Value="0" Type="0" Reboot="0" Info="" />
			<Containers Value="1" Type="0" Reboot="0" Info="" />
			<Doors Value="1" Type="0" Reboot="0" Info="" />
			<Furniture Value="1" Type="0" Reboot="0" Info="" />
			<Misc Value="1" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<Terrain Value="1" Type="0" Reboot="0" Info="" />
			<Trees Value="1" Type="0" Reboot="0" Info="" />
			<Lod Value="0" Type="0" Reboot="0" Info="" />
			<MinRadius Value="10.0" Type="2" Reboot="0" Info="" />
		</Middle>
		<Far>
			<AlphaEnabled Value="1" Type="0" Reboot="0" Info="" />
			<Activators Value="0" Type="0" Reboot="0" Info="" />
			<Actors Value="1" Type="0" Reboot="0" Info="" />
			<Apparatus Value="0" Type="0" Reboot="0" Info="" />
			<Books Value="0" Type="0" Reboot="0" Info="" />
			<Containers Value="1" Type="0" Reboot="0" Info="" />
			<Doors Value="1" Type="0" Reboot="0" Info="" />
			<Furniture Value="1" Type="0" Reboot="0" Info="" />
			<Misc Value="1" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<Terrain Value="1" Type="0" Reboot="0" Info="" />
			<Trees Value="1" Type="0" Reboot="0" Info="" />
			<Lod Value="0" Type="0" Reboot="0" Info="" />
			<MinRadius Value="10.0" Type="2" Reboot="0" Info="" />
		</Far>
		<Lod>
			<AlphaEnabled Value="0" Type="0" Reboot="0" Info="" />
			<Activators Value="0" Type="0" Reboot="0" Info="" />
			<Actors Value="0" Type="0" Reboot="0" Info="" />
			<Apparatus Value="0" Type="0" Reboot="0" Info="" />
			<Books Value="0" Type="0" Reboot="0" Info="" />
			<Containers Value="0" Type="0" Reboot="0" Info="" />
			<Doors Value="1" Type="0" Reboot="0" Info="" />
			<Furniture Value="0" Type="0" Reboot="0" Info="" />
			<Misc Value="0" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<Terrain Value="1" Type="0" Reboot="0" Info="" />
			<Trees Value="1" Type="0" Reboot="0" Info="" />
			<Lod Value="0" Type="0" Reboot="0" Info="" />
			<MinRadius Value="100.0" Type="2" Reboot="0" Info="" />
		</Lod>
		<Ortho>
			<AlphaEnabled Value="1" Type="0" Reboot="0" Info="" />
			<Activators Value="0" Type="0" Reboot="0" Info="" />
			<Actors Value="0" Type="0" Reboot="0" Info="" />
			<Apparatus Value="0" Type="0" Reboot="0" Info="" />
			<Books Value="0" Type="0" Reboot="0" Info="" />
			<Containers Value="0" Type="0" Reboot="0" Info="" />
			<Doors Value="0" Type="0" Reboot="0" Info="" />
			<Furniture Value="0" Type="0" Reboot="0" Info="" />
			<Misc Value="0" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<Terrain Value="1" Type="0" Reboot="0" Info="" />
			<Trees Value="0" Type="0" Reboot="0" Info="" />
			<Lod Value="0" Type="0" Reboot="0" Info="" />
			<MinRadius Value="100.0" Type="2" Reboot="0" Info="" />
		</Ortho>
		<ExcludedFormID>
		</ExcludedFormID>
	</ShadowsExteriors>
	<ShadowsInteriors>
		<Status>
			<PostProcess Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
			<AlphaEnabled Value="1" Type="0" Reboot="0" Info="" />
			<Activators Value="1" Type="0" Reboot="0" Info="" />
			<Actors Value="1" Type="0" Reboot="0" Info="" />
			<Apparatus Value="1" Type="0" Reboot="0" Info="" />
			<Books Value="1" Type="0" Reboot="0" Info="" />
			<Containers Value="1" Type="0" Reboot="0" Info="" />
			<Doors Value="1" Type="0" Reboot="0" Info="" />
			<Furniture Value="1" Type="0" Reboot="0" Info="" />
			<Misc Value="1" Type="0" Reboot="0" Info="" />
			<Statics Value="1" Type="0" Reboot="0" Info="" />
			<MinRadius Value="10.0" Type="2" Reboot="0" Info="" />
			<Darkness Value="0.7" Type="2" Reboot="0" Info="" />
			<LightRadiusMult Value="1.0" Type="2" Reboot="0" Info="" />
			<Quality Value="1" Type="1" Reboot="0" Info="" />
			<LightPoints Value="12" Type="1" Reboot="0" Info="" />
			<TorchesCastShadows Value="1" Type="0" Reboot="0" Info="" />
			<ShadowCubeMapSize Value="512" Type="1" Reboot="0" Info="" />
		</Main>
		<ExcludedFormID>
		</ExcludedFormID>
	</ShadowsInteriors>
	<Sharpening>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Strength Value="0.75" Type="2" Reboot="0" Info="" />
			<Clamp Value="0.1" Type="2" Reboot="0" Info="" />
			<Offset Value="2.0" Type="2" Reboot="0" Info="" />
		</Main>
	</Sharpening>
	<Skin>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Attenuation Value="0.84" Type="2" Reboot="0" Info="" />
			<SpecularPower Value="0.78" Type="2" Reboot="0" Info="" />
			<MaterialThickness Value="0.12" Type="2" Reboot="0" Info="" />
			<RimScalar Value="0.5" Type="2" Reboot="0" Info="" />
			<CoeffRed Value="0.36" Type="2" Reboot="0" Info="" />
			<CoeffGreen Value="0.22" Type="2" Reboot="0" Info="" />
			<CoeffBlue Value="0.12" Type="2" Reboot="0" Info="" />
		</Main>
	</Skin>
	<SnowAccumulation>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Amount Value="1.6" Type="2" Reboot="0" Info="" />
			<Increase Value="0.0005" Type="2" Reboot="0" Info="" />
			<Decrease Value="0.0001" Type="2" Reboot="0" Info="" />
			<SunPower Value="0.3" Type="2" Reboot="0" Info="" />
			<BlurNormDropThreshhold Value="0.82" Type="2" Reboot="0" Info="" />
			<BlurRadiusMultiplier Value="0.6" Type="2" Reboot="0" Info="" />
		</Main>
	</SnowAccumulation>
	<Terrain>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<DistantSpecular Value="0.2" Type="2" Reboot="0" Info="" />
			<DistantNoise Value="0.6" Type="2" Reboot="0" Info="" />
			<NearSpecular Value="0.0" Type="2" Reboot="0" Info="" />
			<MiddleSpecular Value="0.0" Type="2" Reboot="0" Info="" />
		</Main>
	</Terrain>
	<Underwater>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
	</Underwater>
	<VolumetricFog>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Exponent Value="8" Type="1" Reboot="0" Info="" />
			<ColorCoeff Value="0.5" Type="2" Reboot="0" Info="" />
			<Amount Value="1" Type="2" Reboot="0" Info="" />
			<MaxDistance Value="80000" Type="1" Reboot="0" Info="" />
		</Main>
	</VolumetricFog>
	<Water>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Default>
			<choppiness Value="1" Type="2" Reboot="0" Info="" />
			<waveWidth Value="1" Type="2" Reboot="0" Info="" />
			<waveSpeed Value="0.7" Type="2" Reboot="0" Info="" />
			<reflectivity Value="1" Type="2" Reboot="0" Info="" />
			<causticsStrength Value="0.6" Type="2" Reboot="0" Info="" />
			<causticsStrengthS Value="0.3" Type="2" Reboot="0" Info="" />
			<shoreFactor Value="1" Type="2" Reboot="0" Info="" />
			<shoreMovement Value="20.0" Type="2" Reboot="0" Info="" />
			<turbidity Value="1" Type="2" Reboot="0" Info="" />
			<inScattCoeff Value="0.12" Type="2" Reboot="0" Info="" />
			<inExtCoeff_R Value="0.40" Type="2" Reboot="0" Info="" />
			<inExtCoeff_G Value="0.26" Type="2" Reboot="0" Info="" />
			<inExtCoeff_B Value="0.30" Type="2" Reboot="0" Info="" />
			<depthDarkness Value="1.0" Type="2" Reboot="0" Info="" />
		</Default>
	</Water>
	<WaterLens>
		<Status>
			<Enabled Value="0" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<TimeMultA Value="0.1" Type="2" Reboot="0" Info="" />
			<TimeMultB Value="0.2" Type="2" Reboot="0" Info="" />
			<Time Value="180.0" Type="2" Reboot="0" Info="" />
			<Amount Value="0.1" Type="2" Reboot="0" Info="" />
			<Viscosity Value="0.05" Type="2" Reboot="0" Info="" />
		</Main>
	</WaterLens>
	<WetWorld>
		<Status>
			<Enabled Value="1" Type="0" Reboot="0" Info="" />
		</Status>
		<Main>
			<Amount Value="0.85" Type="2" Reboot="0" Info="" />
			<Increase Value="0.001" Type="2" Reboot="0" Info="" />
			<Decrease Value="0.0001" Type="2" Reboot="0" Info="" />
			<PuddleCoeff_R Value="0.72" Type="2" Reboot="0" Info="" />
			<PuddleCoeff_G Value="0.62" Type="2" Reboot="0" Info="" />
			<PuddleCoeff_B Value="0.48" Type="2" Reboot="0" Info="" />
			<PuddleSpecularMultiplier Value="0.2" Type="2" Reboot="0" Info="" />
		</Main>
	</WetWorld>
</_Shaders>
